
:root {
    --colorFondo: #141414;
    --colorLetra: #F3F3F3;
    --fuente: 'Roboto', sans-serif;
}
img{
  max-width: 100%;
}
a{
  text-decoration: none;
}
body {
    /* Aplica a todo el body*/
    background-color: #141414;
    font-family: var(--fuente);
    color: #141414;
}

h1 {
    margin-top: 2rem;
    text-align: center;
    font-size: 45px;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
   
    
}

.serie-item {
    margin-top:5%;
    height: 2rem;
    border-radius: 10px;
    max-width: 100%;
    color: var(--colorLetra);
    background: linear-gradient(90deg, #aa0c7b 0%, #ac00fc 100%);
}

.serie {
    float: left;
    margin-left: 3%;
}

.categoria {
    float: right;
    margin-right: 3%;

}

/*
Esta clase permite centrar verticalmente los items en el div, tener en cuenta que si aumenta el alto del div contenedor,
el line-height acá también debería aumentar al mismo valor.
*/
.item {
    vertical-align: middle;
    line-height: 2rem;
}

#serie {
    margin: auto;
    /* con esto se logra que este centrado horizontalmente */
    width: 70%;
    font-size: 17px;
    font-weight: 600;
}
  .button {
    font-family: var(--fuente);
    background: linear-gradient(90deg, #aa0c7b 0%, #ac00fc 100%);
    position: relative;
    padding: 20px;
    text-align: center;
    line-height: 5px;
    width: 70px;
    border-radius: 7px;
    cursor: pointer;
    color: #dbe7e7;
}
#contenedor{
  display: flex;
  justify-content: center;
  
}

.box {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  .box a {
    transition: transform .3s;  
  }
  
  .box a:hover {
    transition: transform .3s;
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);  
    transform: scale(1.05);
  }
  
  .box img {
    border-radius: 5px;
  }


  #La-Casa-de-Papel{
    display: none;
  }
  #Stranger-Things{
    display: none;
  }
  #Riverdale{
    display: none;
  }
  #Dark{
    display: none;
  }
  #Quién-mató-a-Sara{
    display: none;
  }
  #The-Rain{
    display: none;
  }
  #Blindspot{
    display: none;
  }
  #The-OA{
    display: none;
  }
  #Eterno-monarca{
    display: none;
  } 

.portadas{
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  gap: 20px;
  width: 100%;
}


@media (min-width: 1000px) {
  .portadas{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    gap: 20px;
  }
}
.portadas a {
  transition: transform .3s;  
}

.portadas a:hover {
  transition: transform .3s;
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);  
  transform: scale(1.05);
}

